<h1>Edit your Profile</h1>
<hr>
<div class="col-md-6">
    <form [formGroup]="formGroup" autocomplete="off" (ngSubmit)="save()" novalidate>
      <div class="form-group" [ngClass]="{'error' : !isFirstNameValid()}">
        <label for="firstName">FirstName: </label>
        <em *ngIf="!isFirstNameValid()  && formGroup.controls['firstName']?.errors?.['required']">FirstName is required...</em>
        <em *ngIf="!isFirstNameValid() && formGroup.controls['firstName']?.errors?.['pattern']">Must start with a letter...</em>
        <input formControlName="firstName" type="text" id="firstName" placeholder="FirstName..." class="form-control" required />
      </div>  
      <div class="form-group" [ngClass]="{'error' : !isLastNameValid()}">
        <label for="lastName">LastName: </label>
        <em *ngIf="!isLastNameValid() && formGroup.controls['lastName']?.errors?.['required']" >LastName is required.. </em>
        <em *ngIf="!isLastNameValid() && formGroup.controls['lastName']?.errors?.['pattern']">Must start with a letter...</em>
        <input formControlName="lastName" type="text" id="lastName" placeholder="LastName..." class="form-control" required/>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>&nbsp;
    <button type="button" class="btn btn-default" (click)="cancel()" >Cancel</button>
    </form>
</div>
